<template name="signUp">
  <form id="signup-form" class="ui large form">
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input id="signup-fname" placeholder="First name" type="text" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input id="signup-lname" placeholder="Last name" type="text" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="twitter icon"></i>
          <input id="signup-twittr" placeholder="Twitter Handle" type="text">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="mail icon"></i>
          <input id="signup-email" placeholder="E-mail address" type="email" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input id="signup-password" placeholder="Password" type="password" required>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon selection dropdown">
          <i class="lock icon"></i>
          <input id="signup-gender" name="gender" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Gender</div>
          <div class="menu">
            <div class="item" data-value="Male" data-text="Male">
              <i class="male icon"></i>
              Male
            </div>
            <div class="item" data-value="Female" data-text="Female">
              <i class="female icon"></i>
              Female
            </div>
          </div>
        </div>
      </div>
      <div class="ui fluid large veecolour submit button">Sign Up</div>
    </div>
    <div class="ui error message"></div>
  </form>

  <div class="ui message">
    Have an account? <a href="/sign-in">Sign In</a>
  </div>
</template>