<template name="teleseminar">
  <div>

    {{>Template.dynamic template=content}}

    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <img src="/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="/">&copy; 2016 Veecaster</a>
          <a class="item" href="https://blueenzyme.com/">Development:= BlueEnzyme Ltd.</a>
        </div>
      </div>
    </div>
  </div>
</template>
