<template name="livecs">
  <div class="ui column padded grid">
    <div class="column">
      <h2 class="ui veecolour header">{{semname}}</h2>
    </div>
  </div>
  <div class="ui stackable two column padded grid">

    <div class="five wide column">

      <div class="ui">
        <!-- begin record -->
        {{#if supportsMedia}}
          {{#if isCoach}}
            <div class="ui fluid card" id="vee-rec-card">

              <button class="ui top attached green vertical animated telestarter button" id="telestarter">
                <div class="visible content">Start Broadcast</div>
                <div class="hidden content">
                  <i class="circle icon"></i>
                </div>
              </button>
              <button class="ui top attached veecolour vertical animated telestopper button" id="telestopper">
                <div class="visible content">Stop Broadcast</div>
                <div class="hidden content">
                  <i class="stop icon"></i>
                </div>
              </button>

              <div id="visualizer" class="image" style="height: 320px;">
              </div>
              <div class="extra content">
                <i class="red microphone icon"></i> Recording Volume: {{ volume }}%
              </div>
              <div id="mic-volume" class="ui bottom attached red progress" >
                <div class="bar"></div>
              </div>
            </div>

            <div class="ui icon positive message" id="uploading">
              <i class="notched circle loading icon"></i>
              <div class="content">
                <div class="header">
                  Veecaster: please wait for it to complete...
                </div>
                <p>The audio file is being prepared for download.</p>
              </div>
            </div>
            <div class="ui statistics" id="uploaded">
              <div class="ui horizontal statistic">
                <div class="value">
                  <i class="download icon"></i>
                  <a id="vc-a-save" href="">Click</a>
                </div>
                <div class="label">
                  Save
                </div>
              </div>
            </div>
          {{else}}
            <div class="ui fluid card" id="vee-aud-card">
              <!--
              <div class="image">
                <canvas id="audispec" style="width:100%;height:250px;"></canvas>
              </div>
              -->
              <div id="vstreaming" class="extra content">
                <div class="ui icon positive message">
                  <i class="notched circle loading icon"></i>
                  <div class="content">
                    <div class="header">
                      Veecaster
                    </div>
                    <p>Streaming Teleseminar...</p>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        {{else}}
        <div class="ui centered card">
          <div class="image">
            <img src="/images/elyse.png">
          </div>
          <div class="content">
            <div class="header">Sorry</div>
            <div class="meta">
              Your browser does not support rich media (webcam &amp; microphone)
            </div>
          </div>
        </div>
        {{/if}}
        <!-- end record -->
      </div>

      <div class="ui">
        <div class="ui pointing secondary menu show-700">
          <a class="active item" data-tab="chattr">Chat</a>
          <a class="item" data-tab="twittr">Twitter</a>
        </div>
        <div class="ui active inverted tab segment" data-tab="chattr">
          {{#if Template.subscriptionsReady}}
            <div class="ui inverted segment">
              <div class="ui inverted veecolour divided animated list">
                {{#if havemsgs}}
                  {{#each messages}}
                    {{#if ownmsg this}}
                      <div class="item">
                        <i class="right floated chat icon"></i>
                        <div class="right floated content">
                          <div class="header">Me</div>
                          <div class="description">{{msg}}</div>
                          <div class="description"><small>{{human dte}}</small></div>
                        </div>
                      </div>
                    {{else}}
                      <div class="item">
                        <i class="comments outline icon"></i>
                        <div class="content">
                          <div class="header">{{usr}} {{{coached cch}}}</div>
                          <div class="description">{{msg}}</div>
                          <div class="description"><small>{{human dte}}</small></div>
                        </div>
                      </div>
                    {{/if}}
                  {{/each}}
                {{else}}
                  <div class="item">
                    <i class="comments icon"></i>
                    <div class="content">
                      <div class="header">Me</div>
                      <div class="description">No chat messages yet.</div>
                      <div class="description"><small>{{human}}</small></div>
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="ui action fluid input">
              <input type="text" value="" id="txtchat">
              <button class="ui veecolour icon button" id="btnchat">
                <i class="chat icon"></i>
              </button>
            </div>
          {{else}}
            <div class="ui">
              <div class="ui padded">
                <div class="ui icon message">
                  <i class="notched circle loading icon"></i>
                  <div class="content">
                    <div class="header">
                      Veecaster: please wait...
                    </div>
                    <p>The chat stream is being loaded.</p>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="ui tab segment" data-tab="twittr">
          {{#if Template.subscriptionsReady}}
            <div class="ui minimal comments">
            {{#if havetwts}}
              {{#each twts}}
              <div class="comment">
                <a class="ui left floated circular mini image">
                  <img src="{{usrimg user}}" >
                </a>
                <div class="content">
                  <a class="author">@{{twtusr user}}</a>
                  <div class="metadata">
                    <span class="date">{{created_at}}</span>
                  </div>
                  <div class="text">
                    {{{text}}}
                  </div>
                  <div class="actions">
                    <span class="retweet"><i class="retweet icon"></i> {{retweet_count}}</span>
                    <span class="favorite"><i class="favorite icon"></i> {{favorite_count}}</span>
                  </div>
                </div>
              </div>
              {{/each}}
            {{else}}
              <div class="comment">
                <a class="avatar">
                  <img src="/images/elyse.png">
                </a>
                <div class="content">
                  <a class="author">@veecaster</a>
                  <div class="metadata">
                    <span class="date">{{human}}</span>
                  </div>
                  <div class="text">
                    No tweets.
                  </div>
                  <div class="actions">
                    <a id="veetweet" class="reply"><i class="retweet icon"></i>Retweet</a>
                  </div>
                </div>
              </div>
            {{/if}}
            </div>
          {{else}}
            <div class="ui">
              <div class="ui padded">
                <div class="ui icon message">
                  <i class="notched circle loading icon"></i>
                  <div class="content">
                    <div class="header">
                      Veecaster: please wait...
                    </div>
                    <p>The tweet stream is being loaded.</p>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>

      </div><!-- .ui.segment -->
    </div><!-- .five.wide.column -->

    <div class="eleven wide column">
    
          <div id="pdfContainer" class="ui segment">
            <canvas id="pdfcanvas"></canvas>
          </div>
    </div><!-- .eleven.wide.column -->
  </div><!-- .ui.stackable.three.column.grid -->
</template>
