<template name="livecs">
  <div class="ui column padded grid">
    <div class="column">
      <h2 class="ui veecolour header">{{semname}}</h2>
    </div>
  </div>
  <div class="ui stackable two column padded grid">

    <div class="five wide column">

      <div class="ui">
        <!-- begin record -->
        {{#if supportsMedia}}
          {{#if isCoach}}
            <div class="ui fluid card" id="vee-rec-card">
              <div class="image">
                <canvas id="audispec" style="width:100%;height:250px;"></canvas>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <button class="ui green vertical animated telestarter button" id="telestarter">
                    <div class="visible content">Start Broadcast</div>
                    <div class="hidden content">
                      <i class="circle icon"></i>
                    </div>
                  </button>
                  <button class="ui veecolour vertical animated telestopper button" id="telestopper">
                    <div class="visible content">Stop Broadcast</div>
                    <div class="hidden content">
                      <i class="stop icon"></i>
                    </div>
                  </button>
                </div>
              </div>
            </div>

            <div class="ui icon positive message" id="uploading">
              <i class="notched circle loading icon"></i>
              <div class="content">
                <div class="header">
                  Veecaster: please wait for it to complete...
                </div>
                <p>The audio file is being prepared for download.</p>
              </div>
            </div>
            <div class="ui statistics" id="uploaded">
              <div class="ui horizontal statistic">
                <div class="value">
                  <i class="file audio outline icon"></i>
                  <span id="vc-a-size">5</span>
                </div>
                <div class="label">
                  MB
                </div>
              </div>
              <div class="ui horizontal statistic">
                <div class="value">
                  <i class="download icon"></i>
                  <a id="vc-a-save" href="">Click</a>
                </div>
                <div class="label">
                  Save
                </div>
              </div>
            </div>
          {{else}}
            <div class="ui fluid card" id="vee-aud-card">
              <div class="image">
                <canvas id="audispec" style="width:100%;height:250px;"></canvas>
              </div>
              <div class="extra content">
                <div class="ui icon positive message">
                  <i class="notched circle loading icon"></i>
                  <div class="content">
                    <div class="header">
                      Veecaster
                    </div>
                    <p>Streaming Teleseminar...</p>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        {{else}}
        <div class="ui centered card">
          <div class="image">
            <img src="/images/elyse.png">
          </div>
          <div class="content">
            <div class="header">Sorry</div>
            <div class="meta">
              Your browser does not support rich media (webcam &amp; microphone)
            </div>
          </div>
        </div>
        {{/if}}
        <!-- end record -->
      </div>

      <div class="ui">
        <div class="ui pointing secondary menu">
          <a class="active item" data-tab="chattr">Chat</a>
          <a class="item" data-tab="twittr">Twitter</a>
        </div>
        <div class="ui active tab segment" data-tab="chattr">
          {{#if Template.subscriptionsReady}}
            <div class="ui minimal comments">
            {{#if havemsgs}}
              {{#each messages}}
                {{#if ownmsg this}}
                  <div class="comment">
                    <a class="ui right floated circular mini image">
                      <img src="/images/elyse.png">
                    </a>
                    <div class="content" style="text-align: right;">
                      <a class="author">Me</a>
                      <div class="metadata">
                        <span class="date">{{human dte}}</span>
                      </div>
                      <div class="text">
                        {{msg}}
                      </div>
                      <div class="actions">
                        <a class="reply">Tweet</a>
                      </div>
                    </div>
                  </div>
                {{else}}
                  <div class="comment">
                    <a class="ui left floated circular mini image">
                      <img src="/images/nan.jpg">
                    </a>
                    <div class="content">
                      <a class="author">{{usr}}</a>
                      <div class="metadata">
                        <span class="date">{{human dte}}</span>
                      </div>
                      <div class="text">
                        {{msg}}
                      </div>
                      <div class="actions">
                        <a class="reply">Tweet</a>
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/each}}
            {{else}}
                <div class="comment">
                  <a class="avatar">
                    <img src="/images/elyse.png">
                  </a>
                  <div class="content">
                    <a class="author">Me&lt;</a>
                    <div class="metadata">
                      <span class="date">{{human}}</span>
                    </div>
                    <div class="text">
                      No messages yet.
                    </div>
                    <div class="actions">
                      <a class="reply">Reply</a>
                    </div>
                  </div>
                </div>
            {{/if}}
            </div>
            <div class="ui action fluid input">
              <input type="text" value="" id="txtchat">
              <button class="ui veecolour icon button" id="btnchat">
                <i class="chat icon"></i>
              </button>
            </div>
          {{else}}
            <div class="ui">
              <div class="ui padded">
                <div class="ui icon message">
                  <i class="notched circle loading icon"></i>
                  <div class="content">
                    <div class="header">
                      Veecaster: please wait...
                    </div>
                    <p>The chat stream is being loaded.</p>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="ui tab segment" data-tab="twittr">
          <div class="ui inverted segment">
            <div class="ui inverted veecolour divided animated list">
              <div class="item">
                <i class="twitter icon"></i>
                <div class="content">
                  <div class="header">@user</div>
                  <div class="description">Hello Veecaster!</div>
                  <div class="description"><small>{{human}}</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- .ui.segment -->
    </div><!-- .five.wide.column -->


    <div class="eleven wide column">
      <div class="ui segment">
        PDF.js
      </div>
    </div><!-- .eleven.wide.column -->
  </div><!-- .ui.stackable.three.column.grid -->
</template>
