<template name="record">
  
  {{#if supportsMedia}}
    <div class="ui fluid card" id="vee-rec-card">
      <div class="content">
        <div class="right floated meta">Coach</div>
        <img class="ui avatar image" src="/images/elyse.png"> {{fllnm}}
      </div>
      <div class="image">
        <video id="live_video" style="width:100%;" autoplay="false" muted="false"></video>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <button class="ui green vertical animated telestarter button" id="telestarter">
            <div class="visible content">Start</div>
            <div class="hidden content">
              <i class="circle icon"></i>
            </div> 
          </button>
          <button class="ui veecolour vertical animated telestopper button" id="telestopper" disabled>
            <div class="visible content">Stop</div>
            <div class="hidden content">
              <i class="stop icon"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="ui icon positive message" id="uploading">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          Veecaster: please wait for it to complete...
        </div>
        <p>The audio file is being prepared for download.</p>
      </div>
    </div>
    <div class="ui statistics" id="uploaded">
      <div class="ui horizontal statistic">
        <div class="value">
          <i class="file audio outline icon"></i>
          <span id="vc-a-size">5</span>
        </div>
        <div class="label">
          MB
        </div>
      </div>
      <div class="ui horizontal statistic">
        <div class="value">
          <i class="download icon"></i>
          <a id="vc-a-save" href="">Click</a>
        </div>
        <div class="label">
          Save
        </div>
      </div>
    </div>
  {{else}}
    <div class="ui centered card">
      <div class="image">
        <img src="/images/elyse.png">
      </div>
      <div class="content">
        <div class="header">Sorry</div>
        <div class="meta">
          Your browser does not support user media (webcam & microphone)
        </div>
      </div>
    </div>
  {{/if}}

</template>