<template name="record">
  
  {{#if supportsMedia}}
    <div class="ui fluid card">
      <div class="content">
        <div class="right floated meta">Coach</div>
        <img class="ui avatar image" src="/images/elyse.png"> {{fllnm}}
      </div>
      <div class="image">
        <video id="live_video" style="width:100%;" autoplay muted></video>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <button class="ui green vertical animated telestarter button" id="telestarter">
            <div class="visible content">Start</div>
            <div class="hidden content">
              <i class="circle icon"></i>
            </div> 
          </button>
          <button class="ui veecolour vertical animated telestopper button" id="telestopper" disabled>
            <div class="visible content">Stop</div>
            <div class="hidden content">
              <i class="stop icon"></i>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="ui" id="uploading" hidden="true">
      <div class="ui active large text inline loader">The video is converting and uploading.</div>
    </div>
  {{else}}
    <div class="ui centered card">
      <div class="image">
        <img src="/images/elyse.png">
      </div>
      <div class="content">
        <div class="header">Sorry</div>
        <div class="meta">
          Your browser does not support user media (webcam & microphone)
        </div>
      </div>
    </div>
  {{/if}}

</template>