<template name="seminars">
  <div class="ui padded column grid">
    <div class="column">
      <h2 class="ui veecolour header">Seminars</h2>
    </div>
  </div>
  <div class="ui stackable two column padded grid">

    <div class="six wide column">
      <form class="ui large form" id="semform">
        <div class="ui inverted stacked segment">
          <div class="required field">
            <div class="ui veecolour left icon input">
              <i class="comment icon"></i>
              <input id="sf-name" placeholder="Teleseminar name" type="text">
            </div>
          </div>

          <div class="required field">
            <div class="ui calendar" id="semdate">
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input id="sf-date" type="text" placeholder="Date/Time" readonly>
              </div>
            </div>
          </div>

          <div class="required field">
            <div class="ui left icon input">
              <i class="file icon"></i>
              <textarea id="sf-desc"></textarea>
            </div>
          </div>

          <div class="ui large veecolour submit button">Create Teleseminar</div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>

    <div class="ten wide column">
      {{#if Template.subscriptionsReady}}
        {{#if havesems}}
          <div class="ui four doubling stackable cards">
          {{#each seminars}}
            {{> semcard }}
          {{/each}}
          </div>
        {{else}}
          <div class="ui centered card">
            <div class="image">
              <img src="/images/elyse.png">
            </div>
            <div class="content">
              <div class="header">404</div>
              <div class="meta">No seminars created yet.</div>
            </div>
          </div>
        {{/if}}
      {{else}}
        <div class="ui icon positive message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header">
              Veecaster: please wait...
            </div>
            <p>The seminars are being loaded.</p>
          </div>
        </div>
      {{/if}}
    </div>

  </div>
</template>
