<template name="uploadPDF">
  {{#if currentFile}}

    <div class="ui icon positive message">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          Veecaster: please wait...
        </div>
        <p>Uploading {{currentFile.file.name}}</p>
      </div>
    </div>

    <button id="resetPDF" class="ui labeled red icon button">
      <i class="refresh icon"></i>
      Reset
    </button>
  {{else}}
    <div>
      <label for="file-{{_id}}" class="ui veecolour icon button">
        <i class="pdf file outline icon"></i> {{fileOrSelect this}}
      </label>
      <input type="file" id="file-{{_id}}" class="uploader" style="display:none" data-semid="{{_id}}">
    </div>
  {{/if}}
</template>
