<template name="uploadPDF">
  {{#if currentFile}}
    <div class="ui statistic">
      <div class="value">
        <i class="pdf file outline icon"></i> {{currentFile.file.name}}
      </div>
      <div class="label">
        Name
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="upload icon"></i> {{progress}}
      </div>
      <div class="label">
        Percent
      </div>
    </div>
    <button id="resetPDF" class="ui labeled red icon button">
      <i class="refresh icon"></i>
      Reset
    </button>
  {{else}}
    <div>
      <label for="file-{{_id}}" class="ui veecolour icon button">
        <i class="pdf file outline icon"></i> {{fileOrSelect this}}
      </label>
      <input type="file" id="file-{{_id}}" class="uploader" style="display:none" data-semid="{{_id}}">
    </div>
  {{/if}}
</template>
